<h3><%= t("add_balance.title") %></h3>
<%= simple_form_for(@add_balance, url:"/add_balance/create") do |f| %>
	<%= f.input :money %>
	<%= f.button :submit, t("add_balance.submit") , data: {confirm: "#{t("add_balance.confirmation")}"}, class:"btn btn-primary" %>
<% end %>