<% provide(:button_text, t("button_text.new_project")) %>
<% provide(:image_field, "new") %>
<% provide(:project_form_url, "/profile/#{@user.id}/projects") %>


<div class="container">
	<div class="project-form">
		<%= render 'shared/errors', object:@project%>
		<%= render 'projects/form' %>
	</div>
</div>
