<% provide(:button_text, t("button_text.edit_project")) %>
<% provide(:project_form_url, project_path(@project)) %>

<div class="container">
	<div class="project-form">
		<%= render 'shared/errors', object:@project %>
		<%= render 'form' %>
	</div>
</div>