<div class="container">
	<div class="main-background"></div>
		<div class="main-text">
			<h1>
				Краудфандинг в Беларуси
				<p>платформа для финансирования бизнес-проектов, новых технологий, творчества и социальных инициатив.</p>
			</h1>

			<h3>Здесь вы получите инструменты для проведения сбора, консультации и поддержку.</h3>
			<%= link_to "Создать проект", new_project_path, class:"btn btn-success" %>
		</div>
</div>

<div class="container text-center">
	<%if @projects.any?%>
		<h3>Проекты</h3>
		<div class="scroll-bar">
			<table class="table table-striped">
				<%= will_paginate @projects %>
				<% @projects.each do |project| %>
					<tbody>
						<tr> 
							<td> <div data-turbolinks="false"> <%= link_to project.title, project_path(project)%> </div> </td>
						</tr>
					</tbody>
				<% end %>
			</table>
			<%= will_paginate @projects %>
		</div>
	<%end%>
</div>
