@import "bootstrap-sprockets";
@import "bootstrap";
@import "dropzone/dropzone";

body {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/light-grey-terrazzo.png');
    background-position: cover;
 }

 h1 {
 	text-align: center;
 	font-size: 32px;
 }

 h3 {
 	font-size: 21px;
 }

div{
   .main-text {
    	background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: white;
        font-weight: bold;
        border: 1px solid #f1f1f1;
        position: absolute;
        top: 37%;
        left: 51%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 60%;
        padding: 30px;
        text-align: center;
    }
    .main-background{
    	background-image: url("https://intalent.pro/sites/default/files/styles/new_photo_in_article/public/foto/article/chi-carol-sente-crowdfunding-1871-20150302.jpg?itok=A7hdKzHM");
    	height: 500px;
    	width: 100%;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: 100% 500px;
    	position: relative;
    }
    .project-form{
    	width: 50%;
    	text-align: center;
    	display: block;
    	margin-top: 20%; 
        margin-left: auto;
        margin-right: auto;
    }
    .scroll-bar {
        height: 350px;
        overflow-y: scroll;
    }

    .message-content {
        padding: 5px;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background: lighten(white, 10%);
        color: black;
        word-wrap: break-word;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        overflow-y: scroll;
    }

    .event-content {
        display: block;
        position: absolute;
        padding: 5px;
        margin-top: 0px;
        margin-left: 65%;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: inherit;
        background: lighten(white, 10%);
        color: black;
        word-wrap: break-word;
        width: 250px;
        h3 {
            margin-top: 0;
        }
    }

    .sort-dropdown {
        display:inline-block;
        left:85%;
        top:66%;
        position:absolute
    }

    .comment-form {
        margin-top: 20%;
    }

}

img#galary_image{
    display: block;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

img#event_image{
    display: block;
    max-width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

table.table-striped{
    td {
        backdrop-filter: brightness(92%);
        border-radius: 20px;
    }
}

table.table-bordered{
    border: 4px solid grey;
    border-radius: 4px;
    width: 300px;
    border-collapse: separate;

}

th, td {
    border-left: 2px solid;
    border-right: 2px solid;
}

hr {
  display: block;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.file-upload{
    height: 100%;
    width: 100%;
}
