@import "bootstrap-sprockets";
@import "bootstrap";
@import "dropzone/dropzone";
@import "datetime_picker_input";

body {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/dark-grey-terrazzo.png');
    background-position: cover;
 }

 h2,h4,h5,h6,p,span,em,label,section{
    color: #A9A9A9;
 }

 h1 {
 	text-align: center;
 	font-size: 32px;
    color: #A9A9A9;
 }

 h3 {
 	font-size: 21px;
    color: #A9A9A9;
 }

 span.project-data{
        float: right;
        margin-right: 60px;
 }

div {
    .main-text {
    	background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: #DCDCDC;
        font-weight: bold;
        border: 1px solid #f1f1f1;
        position: absolute;
        left: 20.9%;
        transform: translate(0,-130%);
        z-index: 2;
        width: 60%;
        padding: 30px;
        text-align: center;
    }
    .main-background{
    	background-image: url("https://intalent.pro/sites/default/files/styles/new_photo_in_article/public/foto/article/chi-carol-sente-crowdfunding-1871-20150302.jpg?itok=A7hdKzHM");
    	height: 500px;
    	width: 100%;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: 100% 500px;
    	position: relative;
    }
    .project-form{
    	width: 50%;
    	text-align: center;
    	display: block;
    	margin-top: 15%; 
        margin-left: auto;
        margin-right: auto;
        color: #A9A9A9;
    }
    .form-inputs{
        color: #A9A9A9;
    }
    .scroll-bar {
        height: 350px;
        overflow-y: scroll;
    }
    .message-content {
        padding: 5px;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background: lighten(white, 10%);
        color: black;
        word-wrap: break-word;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        overflow-y: scroll;
    }

    .event-content {
        position: relative;
        padding: 5px;
        margin-left: 50%;
        transform: translate(0, -75%);
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: inherit;
        background: lighten(white, 10%);
        color: black;
        word-wrap: break-word;
        width: 250px;
        h3 {
            margin-top: 0;
        }
    }

    .bonus-content {
        position: relative;
        transform: translate(0, 30%);
        
        padding: 5px;
        margin-left: 15%;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: inherit;
        background: lighten(white, 10%);
        color: black;
        word-wrap: break-word;
        width: 250px;
        h3 {
            margin-top: 0;
        }
    }

    .sort-dropdown {
        display:inline-block;
        left: 84.8%;
        transform: translate(0, 4.5em);
        position:absolute
    }
    
    .comment-form {
        margin-top: 20%;
    }

    .alert{
        color: #A9A9A9;
    }

    .user-bonuses {
        position: absolute;
        transform: translate(0,-20%);
        /*top: 8%;*/
        left: 6%;
        text-align: center;
        border: solid grey 4px;
        border-radius: 4px;
        width: 280px;
        height: 250px;
    }

    .list {
      th, td {
          border-left: 2px solid;
          border-right: 2px solid;
          color: #A9A9A9;
      }
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
}

img#galary_image {
    display: block;
    max-width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

img#event_image{
    display: block;
    max-width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

table.table-striped{
    td {
        background-color: #C0C0C0;
        border-radius: 20px;
        color: #696969;
    }
}
table.table-bordered{
    border: 4px solid grey;
    border-radius: 4px;
    width: 300px;
    border-collapse: separate;
    color: #A9A9A9;

}


hr {
  display: block;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.file-upload{
    height: 100%;
    width: 100%;
}

.tags {
  margin: 0;
  overflow: hidden; 
  padding: 0;
}
 
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #000;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #000;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}