<h3><%= t("transactions.title") %></h3>
<%= simple_form_for(@donate, url:"/projects/#{@project.id}/transactions") do |f| %>
	<%= f.input :money %>
	<%= f.button :submit, t("transactions.submit") , data: {confirm: "#{t("transactions.confirmation")}"}, class:"btn btn-primary" %>
<% end %>