<% provide(:button_text, t("button_text.edit_project_image")) %>

<div class="container">
	<%= render 'shared/errors', object:@project_image %>
	<div class="form-inputs">
		<%= render 'form' %>
	</div>
</div>