<%= simple_form_for(@review, :url => project_reviews_path(@project)) do |f|%>
	<div id="rating-form">
		<label>Рейтинг</label>
	</div>
	<%= f.button :submit, "Отправить", class:"btn btn-primary" %>
<% end %>
<script>
	$('#rating-form').raty({
		path:"/assets/",
		scoreName:"review[rating]"
	});
</script>